@import "style.css";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


#logo{
    text-align: center;
    text-shadow: 2px 2px 5px white, 2px 6px 5px white, 6px 2px 5px white;
    font-size: 550%;
    font-family: 'Abril Fatface', cursive;
}

img{
    width: 100px;
    position: absolute;
    bottom:;
    right:;
}

#intro{
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 30px 10px 30px;
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 40px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
    
}

h2{
    font-family: 'Abril Fatface', cursive;
}

p{
    text-align: center;
}

.bubble{
    background-repeat: no-repeat;
    width: 200px;
	height: 200px;
	border-radius: 1000px;
	border: 6px solid #54530d;
}

#pic-1{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8b/Battery_Park_City_007.JPG");
    background-size: 300px;
    position: absolute;
    bottom: -650;
    right: -300;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
}

#pic-2{
    background-image: url("https://c1.staticflickr.com/4/3049/2999130649_d56c1bd035_b.jpg");
    background-size: 300px;
    position: absolute;
    bottom: 500px;
    right: 250px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
}

#pic-3{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/05/Southwest_corner_of_Central_Park%2C_looking_east%2C_NYC.jpg");
    background-size: 300px;
    position: absolute;
    bottom: 300px;
    right: 100px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
}

#pic-4{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c9/Inwood%2C_Manhattan%2C_NYC.JPG");
    background-size: 300px;
    position: absolute;
    bottom: 300px;
    right: 1200px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
}