.voting h1 {
    font-family: 'Eagle Lake', cursive;
 }
 
.voting img{
    height:200px;
   width:400px;
    margin: 50px;
}

.percentage {
    background-color: black;
    color: white;
    width: 100px;
}

.voting p {
   font-size: 50px;
}

.thumbs-up, .thumbs-down {
    font-family: Arial, sans-serif;
    font-size: 40px;
}