.voting h1 {
    font-family: 'Eagle Lake', cursive;
 }
 
.voting img{
    height:200px;
   width:400px;
    margin: 50px;
}

.voting p {
   font-size: 50px;
}

.thumbs-up, .thumbs-down {
    font-family: sans-serif;
    font-size: 40px;
}